{% extends 'base.html' %}

{% block content %}

{% if invoice_list %}

<div class="panel panel-primary">
	<div class="panel-heading">{% if title %}{{ title }}{% else %}Invoices{% endif %}</div>
	<table class="table table-hover">
		<tr>
			<th>Invoice</th>
			<th>Invoice Code</th>
			<th>Customer</th>
			<th>Date Created</th>
			<th>Total (EGP)</th>
			<th class="text-right">Actions</th>
		</tr>

		{% for invoice in invoice_list %}
            {% if invoice.valid %}
		     <tr>
    			<td>{{ invoice.id }}</td>
    			<td>{{ invoice.invoice_code }}</td>
    			<td>{{ invoice.customer }}</td>
    			<td>{{ invoice.date_created|date:"SHORT_DATE_FORMAT" }}</td>
    			<td>{{ invoice.total_items }}</td>
    			<td class="text-right">
    				<a href="{% url 'invoice:view_invoice' invoice.id %}" class="btn btn-xs btn-primary">View</a>
    			 <a href="{% url 'invoice:customer' invoice.customer.id %}" class="btn btn-xs btn-default">Customer</a>
                 <button type="button" data-toggle="modal" data-target="#confirminvalidate" data-object-name="{{ invoice.id }}" data-invalidate-url="{% url 'invoice:invalidate_invoice' invoice.id %}" class="btn btn-xs btn-danger">Invalidate</button>
    			</td>
		    </tr>
            {% endif %}
		{% endfor %}
	</table>
</div>


<!-- Invalidate confirmation modal -->
<div class="modal fade" id="confirminvalidate" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Confirm</h4>
			</div>
			<div class="modal-body">

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
				<a href="#" class="btn btn-danger">Yes</a>
			</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function() {
		$('#confirminvalidate').on('show.bs.modal', function(e) {
			var name = $(e.relatedTarget).data('object-name');
			var url = $(e.relatedTarget).data('invalidate-url');
			$('#confirminvalidate .modal-body').html("Are you sure you want to invalidate invoice " + name + "?<br><i>This will delete all associated items!</i>");
			$('#confirminvalidate .modal-footer a').attr('href', url);
		});
	});
</script>
<!-- END invalidate confirmation modal -->

{% else %}
<div class="alert alert-warning">No invoices!</div>
{% endif %}

{% endblock %}
