{% extends 'base.html' %}

{#{% load widget_tweaks %}#}

{% block content %}

{% if error_message %}

<div class="alert alert-danger">{{ error_message }}</div>

{% endif %}

{% if invoice %}
<!-- Display invoice -->

<h2 class="text-center">Invoice {{ invoice.id }}</h2>

<!-- Customer information -->
<form method="POST" action="{% url 'invoice:view_invoice' invoice.id %}" name="customer" class="form-horizontal">
	{% csrf_token %}
	<div class="panel panel-primary">
		<div class="panel-heading">Customer</div>
		<div class="panel-body">
			<div class="form-group">
				<label class="col-sm-3 control-label">Customer:</label>
				<div class="col-sm-6">
					<p class="form-control-static"><a href="{% url 'invoice:customer' invoice.customer.id %}">{{ invoice.customer }}</a></p>
				</div>
			</div>

		</div>
		<div class="panel-footer">
			<input type="submit" value="Save" class="btn btn-primary">
			<a href="{% url 'invoice:print_invoice' invoice.id %}" target="_new" class="btn btn-default">Printable Invoice</a>
		</div>
	</div>
</form>

<!-- END Customer information -->

<!-- Invoice items -->

<form action="{% url 'invoice:add_item' invoice.id %}" method="post" class="form-inline">
	{% csrf_token %}
	{{ formset.management_form }}
	
	<div class="panel panel-primary">
		<div class="panel-heading">Invoice items</div>
		<table class="table table-hover">
			<tr>
				<th>Item</th>
				<th>Qty</th>
				<th>Total (EGP)</th>
				<th class="text-right">Actions</th>
			</tr>
			{% for item in invoice.invoiceitem_set.all %}
			<tr>
				<td>{{ item.item.name }}</td>
				<td>{{ item.qty }}</td>
				<td>{{ item.total }}</td>
				<td class="text-right">
					<a id="delete-btn" class="btn btn-xs btn-danger"  href="{% url 'invoice:delete_item' invoice.id item.id %}">Delete</a>
				</td>
			</tr>
			{% endfor %}
			
			{% for forms in formset %}
			<tr class="form-row">	
				<td id="items-field">{{ forms.item }}</td>
				<td id="qty-field">{{ forms.qty }}</td>
				<td>&nbsp;</td>
				<td>
					<div class="btn-group" role="group">
					</div>
				</td>
				
			</tr>
			{% endfor %}
				
		</table>
		<div class="panel-footer">
			<input type="submit" class="btn btn-primary" value="Add">
			<div id="total-output" class="text-right"><strong>Total: EGP {{ invoice.total_items }}</strong></div>
		</div>
	</div>
</form>

<!-- End display invoice -->

{% else %}
<!-- Display invoice error -->

<div class="alert alert-warning">Invoice number not found!</div>

<!-- End display invoice error -->
{% endif %}

{% endblock %}
